$transitionDuration: .3s;

$color1: #2a2d32;                   // Navigation background
                                    // OurServices background
                                    // Footer background
                                    // News headings
                                    // BannersPlace headings
$color2: #248cec;                   // Navigation active link bg
                                    // Benefits ReadMore:hover
                                    // OurServices image:hover
                                    // Footer text:hover
$color3: #181a1d;                   // Navigation links' borders
                                    // Search borders
$color4: #ffffff;                   // Header background
                                    // Navigation text
                                    // OurServices text
                                    // Trustmarks background
$color5: #f4b60d;                   // Navigation text:hover
                                    // OurServices text:hover
                                    // BannersPlace active panel
$color6: #35383c;                   // Search background
                                    // Contacts background
$color7: #626466;                   // Search text
$color8: #2a2b2e;                   // Benefits heading color
$color9: rgba(42, 43, 46, .1);      // Benefits 01, 02, 03 color
$color10: #8a8a8a;                  // News text color
                                    // Benefits text color
                                    // BannersPlace text color
$color11: #f7f7f7;                  // News background
$color12: #f6c53d;                  // BannersPlace active panel border
$color13: #e8e8e8;                  // BannersPlace inactive panel border
$color14: rgba(255, 255, 255, .3);  // Footer text
$color15: #868789;                  // Contacts text
$color16: #9e9e9e;                  // Post-author text
$color17: rgba(255, 255, 255, .07);  // Footer Links border
